#calendar {
    width:100%;
    border:1px solid black;
    table-layout:fixed;
    border-collapse: collapse;
}

td {
    width:auto;
    border:1px solid black;
    position:relative;
}

tr.labels {
    height:auto;
}

tr {
    height:50px;
}

td.timeLabel {
    color:balck;
    text-align:right;
}

.timeLabelCol {
    width:50px;
    text-align:right;
}

#calendar th {
    border:1px solid black;
    text-align:center;
    width:auto;
}

.courseFiller {
    background-color:transparent;
    position:absolute;
    width:100%;
    height:50%;
    top:0;
    left:0;
    text-align:center;
    font-weight:bold;
    border-bottom:1px solid lightgray;
}

.courseFiller.full {
    background-color:#28a745;
    border:none;
    height:100%;
    color:white;
}