#calendar {
    width:100%;
    /*border:1px solid black;*/
    border-left:none;
    table-layout:fixed;
    border-collapse: collapse;
}

td{
    position:relative;
    border:1px solid black;
    width:auto;
}

tr.labels {
    height:auto;
}

tr {
    height:50px;
}

td.timeLabel {
    color:black;
    text-align:right;
    border:none;
}

.timeLabelText {
    position:absolute;
    top:-10%;
    right:2px;
    width:100%;
    height:100%;
    font-size:.9em;
}

.timeLabelCol {
    width:50px;
    text-align:right;
}

#calendar th {
    /* border:1px solid black; */
    text-align:center;
    width:auto;
}

/* needed for half-hour lines */
.courseFiller.top {
    top:0;
    height:50%;
    border-bottom:1px solid lightgray;
}

.calClass {
    position:absolute;
    background-color:#28a745;
    display:inline-block;
    width:100%;
    text-align:center;
    margin-left: 0px;
    color:white;
    font-weight:bold;
    font-size:.8em;
    z-index:1;
    left: 0px;
}

.calClass:hover, .calClass.hover{
    cursor:pointer;
    color:black;
    box-shadow:0px 0px 2px black;
}

.classListItem:hover, .classListItem.hover{
    border-color:green;
    z-index: 1;
}

.classListItem > p:hover{
    cursor: pointer;
}


.signedInOnly, #signInButton {
    display:none;
}

.dropdown-menu-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
